body{
    font-family: "Poppins", sans-serif;
    background-image: url('img/img/bgimg/bg1.jpg') no-repeat center fixed cover ;
}
.bgcolor{
    background-color: darkred;
    border: 1px solid transparent;
}
.icons{
    width: auto;
    height:auto;
    color: white;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    font-size: 20px;   
}
.icons i{
    border: 1px solid white;
    height: 30px;
    width: 35px;
    padding: 5px;
    border-radius: 50%;
    margin-left:15px;
}
.a{
    border: 1px solid orange;
    height: 35px;
    width: 140px;
    border-radius: 5px;
}
.hleft{
    display: flex;
    width: auto;
}
.mainlogo2{
    height: 120px;
    width: 120px;
}
.mainlogo3{
    height: 130px;
    width: 140px;
    margin-left:5px;

}
.mainlogo{
    height: 130px;
    width: 130px;
    float: right;
    margin-right: auto;
}
.hearder{
    margin-left: 400px;
}
.heading{
    color:darkred;
    font-size: 25px;
}

.hindifont{
     font-family: "Kalam", cursive;
     margin-top: 5px;
}

.hd{
   padding: 0px;
    border: 1px solid black;
}
.navbar{
    color:white;
    background-color: darkred;
    height: 60px;
    justify-content: space-around;
    
    
}

.navbar div ul li{
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 5px;
    margin-left: 30px;
    font-size: 15px; 
    font-weight: 600; 
    height: 30px;
    /* text-align: center; */
}
.navbar div ul li a{
    margin-top: -5px;
}

.navbar div ul li:hover{
    background-color: rgb(245, 182, 66);
}
.recslider{
   /* border: 5px solid black; */
   height: 600px;
}

.recslider .carousel-item {
    border: 1px solid transparent;
    height: 600px;
    border-radius: 0% 0% 30% 20%;
    
}
.recslider .carousel-item img{
    object-fit: fill;
    height: 592px;
    border-radius: 0% 0% 30% 20%;
    
}
.marqrec{
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.marqrec col-sm-2 {
    width: 200px;
}
.imgright{
    width: 400px;
    height: 240px;
    background-color: white;
    border: 20px solid white;
    box-shadow: 2px 2px 20px 10px rgb(180, 180, 180);
    border-radius: 10px  ;
    margin-top: 50px;
    
}
.imgright img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.imgcontent h3{
    color: brown;
    padding-left: 10px;
    border-left: 4px solid brown;

     
}
.imgcontent p{
    word-spacing: 2px;
    line-height: 30px;
    text-align: justify;
}

.section2{
    width: 300px; 
    border: 1px solid transparent;
    margin-left: 0px;
    margin-right: 0px;
    /* justify-content: center; */
}
.section2 .card{
    width: 270px;
    
    padding: 5px;
    margin: 0% auto;
    border-radius: 5%;
}

.section2 .card img{
     margin: 10px auto;
     height: 150px;
     width: 150px; 
     border: 1px solid darkred; 
     object-fit: cover;


}
.section2 .card:hover{
    width: 285px;
    height: 100%;
    background-color: rgb(55, 242, 255);
    transition: 0.6s ease;
  
    box-shadow: 1px 1px 10px 1px rgb(14, 12, 12);
}
.section2 .card img:hover{
    margin: 10px auto;
     height: 160px;
     width: 160px; 
     border: 4px solid darkred; 
     object-fit: cover;
     transition:0.6s ease;

}
.section3{
    
    width: 350px; 
    border: 1px solid transparent;
    margin-left: 0px;
    margin-right: 0px;
   

}
.section3 .card img{
    width: 250px;
    height: 150px;
    margin: 10px auto;
}

.section7{
    position: relative;
     text-align: center;
  color: white;

}
.section7 .sec7caption{
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    bottom: 2px;
    left: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(0, 0, 0, 0.433);
    
}
.section7 img{
    
    height: 250px;
}
.footerd{
    width: 20%;

}  
.footerd ul li a{
    text-decoration: none;
    color: white;
}
.AbUsbg{
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;

}
.AbUsbg img{
    width: 100%;
    height: 300px;
    filter: blur(3px);

}

.AbUsbg .d1{
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: white;
   
}