@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

.welcome h4 {
    margin-left: 60px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
}

.nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-1 a {
    color: white;
    gap: 0;
    text-decoration: none;

}

.nav-1 a:hover {
    color: black;
}

.headline {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    height: 100px;
    padding-left: 120px;
    text-align: flex-end;
}

.head {
    margin-top: 20px;
    line-height: 0px;
}

.g-20 {
    margin-top: 25px;
    height: 60px
}

.btn {
    border: 2px solid black;
    height: 35px;
    margin-top: 35px;
    margin-left: 15px;
    font-size: 16px;
    padding-top: 5px;
}

.right {
    padding-top: 20px;
    text-align: center;
}

.right h6 {
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    height: 6vh;
    width: 100%;
}

.navbar ul {
    display: flex;
    margin: 10px auto;
    list-style-type: none;
    margin-top: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-weight: 550;
}

.navbar ul li a:hover {
    color: black;
    transition: 0.9s ease-in-out;
}

.slide {
    margin: 0px;
    padding: 0px;
}

.slide-1 img {
    width: 100%;
}

.notification .latest {
    height: 4vh;
    width: 12%;
    background-color: black;
    color: white;
    margin-top: 0px;
    margin-left: -12px;
}

.notification .latest h2 {
    margin-top: 0px;
    margin-left: 0px;
}

.notification .mar {
    height: 4vh;
    width: 88%;
    margin-top: -38px;
    margin-left: 12%;
}

.notification .mar a {
    color: black;
    text-decoration: none;
    gap: 10px;

}

.mar img {
    height: 40px;
}

.news {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    border-radius: 10px;
    padding-top: 30px;
}

.news-1 {
    margin-left: -5px;
    border-radius: 8px;

    margin-bottom: 10px;

}

.news-1 img {
    width: 95%;
    height: 200px;
    margin: 8px;
    border-radius: 10px;
}

.news1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    border-radius: 10px;
    padding-top: 30px;
    /* background-color: rgb(135, 135, 63); */
}

.news1 .card2 {
    width: 24%;
    /* background-color: gray; */
    border-radius: 10px;
}

.card2 img {
    width: 100%;
    margin-top: -15px;
    padding: 10px;
    border-radius: 20px;
}

.news-1 p {
    margin-bottom: -10px;
    padding-bottom: -10px;
}

.card-1 {
    width: 32%;
    height: 90%;
}